![](sql.png)

# SQL Notebook - Using Variables between Code Cells

- Code cells cannot directly reference each other
- Temporary Tables can be shared
- Snippet Example for Sharing Variables

## Creating Temp Table Based Variables (Run Values)

In [1]:
DROP TABLE IF EXISTS #run_values; CREATE TABLE #run_values ([key] VARCHAR(64) PRIMARY KEY, [value] NVARCHAR(MAX))

INSERT #run_values VALUES ('var1', 'Hello')

## Retrieving Temp Table Based Variables

In [2]:
DECLARE @var1 VARCHAR(10); SELECT @var1 = [value] FROM #run_values WHERE [key] = 'var1'

print @var1